body {
    background-color: rgba(195, 43, 226, 0.507);
}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
    text-align: justify;
}

h2 {
    color: rgba(165, 42, 42, 0.986);
    text-align: center;
    font-size: 30px;
}