body {
    background-color: #7EE0B7;
}

#imagem_principal {
    width: 20%;
    border: 10px dotted rgb(224, 104, 104);
    margin-left: 39%;
}


h1 {
    text-align: center;
}
h2 {
    color: #213B30;
    text-align: left;
    font-size: 30px;
    border: 5px solid red;
    padding:30px ;
    margin-left: 50px;
}
p {
    font-size: 20px;
    text-align: justify;
}
#A{
    text-align: center;
    color: rgb(17, 8, 147);
}
h3{
    text-align: center;
    font-size: 25px;
}
ul{
    display: inline-block;
    vertical-align: top;
    margin-right: 20%;
    margin-top: 8%;
}
.M{
    width: 28px;
}
.IM{
    width: 30%;
}
.itens{
    font-style: italic;
    font-size: 20px;
    color: red;
}
.exemplo{
    display: inline-block;
    width: 25px;
}